table {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

legend {
    display: inline;
}

form * {
    margin-right: 10px
}