footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    left: 0;
    padding-left: 10px;
}

/* header {

} */

main {
    margin-bottom: 75px;
    /* margin-top: px */
}