<!DOCTYPE html>
{% load static %}
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>Service Generator | {{ service_type.name }}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'tfilah_toolbox/style.css' %}">
    </head>
    <body>
        {% include "tfilah_toolbox/header.html" %}
        <main>
            <form action="{% url 'service_generator:generate_template' %}" method="POST">
                <div>
                    <h2>Basic Info</h2>
                    <label for="title">Title:</label>
                    <input type="text" name="title" id="title" placeholder="Title">
                    <!-- TODO -->
                </div>
            </form>
        </main>
        {% include "tfilah_toolbox/footer.html" %}
    </body>
</html>