<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>T'filah Toolbox | Service Generator</title>
    </head>
    <body>
        {% include "tfilah_toolbox/header.html" %}
        <main>
            <ul>
                {% for service in service_types %}
                    <li><a href="{% url 'service_generator:create_service' service.id %}">{{ service }}</a></li>
                {% endfor %}
            </ul>
        </main>
        {% include "tfilah_toolbox/footer.html" %}
    </body>
</html>