<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Service Generator | {{ prayer.name }}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'tfilah_toolbox/style.css' %}">
    </head>
    <body>
        {% include "tfilah_toolbox/header.html" %}
        <main>
            <h1>{{ prayer.name }}</h1>
            <p>Tags:</p>
            <ul>
                {% for tag in prayer.tags.all %}
                    <li>{{ tag }}</li>
                {% endfor %}
            </ul>
            <p>{{ prayer.description }}</p>
        </main>
        {% include "tfilah_toolbox/footer.html" %}
    </body>
</html>