{% extends "tfilah_toolbox/base.html" %}
{% load static %}

{% block title %}Hashirim Shelanu | "{{ song.title }}" &mdash; {{ song.artist.name }}{% endblock %}

{% block meta %}
    <link rel="stylesheet" type="text/css" href="{% static 'hashirim_shelanu/viewsong.css' %}">
{% endblock %}

{% block content %}
    <div id="main-head">
        <p><a href="#" onclick="history.back(); return false;">&lt; Go back</a></p>
        <h2>{{ song.title }}</h2>
        <h3>{{ song.artist }}</h3>
        <p>Prayer: <b>{{ song.prayer.name }}</b></p>
        {% if chordsheet_html %}
            <form action="{% url 'hashirim_shelanu:download_chordpro' song.id %}" method="GET">
                <button type="submit">Download ChordPro</button>
            </form>
            <form action="{% url 'hashirim_shelanu:download_pdf' song.id %}" method="GET">
                <button type="submit">Download PDF</button>
            </form>
        {% endif %}
        <p>Tags:</p>
        <ul>
            {% for tag in song.tags.all %}
                <li>{{ tag }}</li>
            {% endfor %}
        </ul>
    </div>
    {% if chordsheet_html %}
        <div id="chordsheet">
            <div id="chordsheet-display">
                {{ chordsheet_html|safe }}
            </div>
            <div id="chordsheet-contributor">
                <i>Contributed by {{ song.chordsheet.list_contributors }}</i>
            </div>
        </div>
    {% endif %}
{% endblock %}